{% extends 'base.html.twig' %}
{% form_theme form ":FormTemplate:bootstrap.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 col-xs-12">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6">
                    <h1>Modification de l'expert</h1>
                    <ul>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input type="submit" value="Modifier" class="btn center-block Button">
                        {{ form_end(form) }}
                        <li>
                            {{ form_start(delete_form) }}
                            <input type="submit" value="Supprimer" class="btn center-block Button">
                            {{ form_end(delete_form) }}
                        </li>
                        <li>
                            <a href="{{ path('expert_index') }}" class="btn center-block">Retour à la liste</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
