<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />

    <title>{% block title %}Ensemble le Booster Rural{% endblock %}</title>

    {% block stylesheets %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/booster/css/style.css') }}">

    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

<div class="row text-center">
    <div class="col-md-3 col-xs-12">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input style="display: none" type="text" id="username" name="_username" value="admin@mail.fr" required="required"/>
            <input style="display: none"  type="password" id="password" name="_password" value="123" required="required"/>
            <input type="submit" id="_submit" name="_submit" value="Se connecter en admin" class="btn center-block Button"/>
        </form>
    </div>
    <div class="col-md-3 col-xs-12">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input style="display: none" type="text" id="username" name="_username" value="aumont@mail.fr" required="required"/>
            <input style="display: none"  type="password" id="password" name="_password" value="123" required="required"/>
            <input type="submit" id="_submit" name="_submit" value="Se connecter en maire" class="btn center-block Button"/>
        </form>
    </div>
    <div class="col-md-3 col-xs-12">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input style="display: none" type="text" id="username" name="_username" value="boucherie@mail.fr" required="required"/>
            <input style="display: none"  type="password" id="password" name="_password" value="123" required="required"/>
            <input type="submit" id="_submit" name="_submit" value="Se connecter en acteur" class="btn center-block Button"/>
        </form>
    </div>
    <div class="col-md-3 col-xs-12">
        <a class="btn center-block Button" style="width: 50%" href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    </div>
    {#<div class="col-md-3 col-xs-12">#}
        {#<form action="{{ path("fos_user_security_check") }}" method="post">#}
            {#<input style="display: none" type="text" id="username" name="_username" value="pomero@mail.fr" required="required"/>#}
            {#<input style="display: none"  type="password" id="password" name="_password" value="123" required="required"/>#}
            {#<input type="submit" id="_submit" name="_submit" value="Se connecter en citoyen" class="btn center-block Button"/>#}
        {#</form>#}
    {#</div>#}
</div>
<!-- header -->
<header>
    <!-- navbar -->

    {% include 'navigation.html.twig' %}

    <!-- end navbar -->
</header>
<!--end header -->


<div class="container-fluid" id="page">
    {% block body %}{% endblock %}
</div>

<!-- footer -->
{% include '::footer.html.twig' %}
<!-- end footer -->

{% block javascripts %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/2ac71d0e85.js"></script>
{% endblock %}
</body>
</html>
