{% extends 'base.html.twig' %}
{% form_theme form ":FormTemplate:bootstrap.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 col-xs-12">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6">
                    <h3>Modification du besoin</h3>

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <a href="{{ path('mayor_editNeeds', { 'id': need.id }) }}"><input type="submit" value="Modifier" class="btn center-block Button"></a>
                    {{ form_end(form) }}
                    <ul>

                        <li>
                            <a href="{{ path('mayor_index') }}"><input type="submit" value="Retour au profil" class="btn center-block Button"></a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}