{% extends 'base.html.twig' %}

{% block body %}
    <h1>Need</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ need.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ need.title }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ need.cp }}</td>
            </tr>
            <tr>
                <th>Town</th>
                <td>{{ need.town }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ need.description }}</td>
            </tr>
            <tr>
                <th>Activity</th>
                <td>{{ need.activity }}</td>
            </tr>
            <tr>
                <th>Availability</th>
                <td>{{ need.availability }}</td>
            </tr>
            <tr>
                <th>Lat</th>
                <td>{{ need.lat }}</td>
            </tr>
            <tr>
                <th>Lgt</th>
                <td>{{ need.lgt }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('needs_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('needs_edit', { 'id': need.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
