{% extends 'base.html.twig' %}
{% form_theme form ":FormTemplate:bootstrap.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 col-xs-12">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6">
                    <h1>Modification du besoin</h1>


                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <a href="{{ path('actor_editOffer', { 'id': offer.id }) }}"><input type="submit" value="Modifier" class="btn center-block Button"></a>
                    {{ form_end(form) }}
                    <ul>

                        <li>
                            <a href="{{ path('actor_listOffer') }}" class="btn center-block">Retour à la liste</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

