{% extends 'base.html.twig' %}
{% form_theme form ":FormTemplate:bootstrap.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 col-xs-12">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6">
                    <h1>Modification des données utilisateur</h1>

                    {{ form_start(form) }}

                    {{ form_widget(form) }}
                    <a href="{{ path('actor_editUser', { 'id': user.id }) }}"><input type="submit" value="Modifier" class="center-block showLien2"></a>
                    {{ form_end(form) }}

                    <ul>

                        <li>
                            <input href="{{ path('actor_index') }}" class="btn center-block Button" value="Retour au profil"/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}