{% extends "base.html.twig" %}

  {% block body %}

      <div class="row">
          <section class="col-sm-offset-1 col-sm-10 col-xs-12 backWhite sec1">
              <div class="row">
                  <div class="col-md-6 col-xs-12 picture">
                      <img src="{{ asset('bundles/booster/img/ville.jpg') }}" alt="photo_logo" class="center-block img-responsive "/>
                  </div>
                  <div class="col-md-6 col-xs-12">
                      <li><a class="pencil col-xs-offset-11 col-xs-1" data-toggle="modal" href="#headmod"><span class="glyphicon glyphicon-pencil"></span></a></li>
                      <h1>{{ user.town }}</h1>
                      <div class="row">
                          <div class="col-sm-12 col-xs-12">
                              <div class="row">
                                  <div class="col-xs-6">
                                      <div class="row">
                                          <ul class="col-xs-12">
                                              <li><b>lieu:</b> {{ user.cp }} {{ user.lastname }}</li>
                                              <li><b>Nbre d'habitants :</b> {{ user.resident }} </li>
                                              <li>{{ user.website }}</li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="col-xs-6 ">
                                      <div class="row">
                                          <ul class="col-xs-12">
                                              <li><b>mail:</b>  {{ user.email }}</li>
                                              <li><b>Téléphone :</b> {{ user.phone }}</li>
                                              <li><b>Maire:</b> {{ user.lastname }}</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-offset-11">
                      <a href="{{ path('actor_editUser', {'id': user.id}) }}') }}">
                          <span class="glyphicon glyphicon-pencil btn-lg"></span >
                      </a>
                  </div>
              </div>
          </section>
      </div>
      <div class="row">
          <section class="col-sm-offset-1 col-sm-10 col-xs-12 backWhite sec1">
              <div class="row">
                  <div class="col-md-8 col-xs-12">
                      <h2>Le mot du Maire</h2>
                      <div class="row">
                          <div class="col-sm-12 col-xs-12">
                              <p>{{ user.messageMayor }}</p>

                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-xs-12">
                      <img src="{{ asset('bundles/booster/img/maire.jpg') }}" alt="photo_logo" class="center-block img-responsive picture "/>
                  </div>
              </div>
              <div>
                  <a href="{{ path('mayor_editWordMayor', {'id': user.id}) }}') }}">
                      <span class="col-xs-offset-11 glyphicon glyphicon-pencil btn-lg"></span >
                  </a>
              </div>
          </section>
      </div>
      <div class="row">
          <div class="col-sm-offset-1 col-sm-10">
              <div class="row flexMap">
                  <section class="col-sm-6 col-xs-12 backWhite sec2">
                      <div class="row">
                          <div class="col-md-4 col-sm-12">
                              <ul class="ulBorder">
                                  <li><img src="{{ asset('bundles/booster/img/tof1.png') }}" alt="photo" class="pitureMini img-responsive center-block"/></li>
                                  <li><img src="{{ asset('bundles/booster/img/tof2.png') }}" alt="photo" class="pitureMini img-responsive center-block"/></li>
                                  <li><img src="{{ asset('bundles/booster/img/tof3.png') }}" alt="photo" class="pitureMini img-responsive center-block"/></li>
                              </ul>
                          </div>
                          <div class="col-md-8 col-sm-12">
                              <h2 class="mediaTitle">pourquoi nous sommes dynamiques ?</h2>
                              <p>{{ user.description }}</p>
                          </div>
                      </div>
                      <div>
                          <a href="{{ path('actor_editDescription', {'id': user.id}) }}') }}"><span class="col-xs-offset-11 glyphicon glyphicon-pencil btn-lg"></span ></a>
                      </div>
                  </section>


                  <section class=" hidden-xs col-sm-5 col-xs-12 backWhite secPad1">
                      <h2>localisation</h2>
                      <div id="map" class="center-block"></div>
                  </section>
              </div>
          </div>
      </div>

      <!------------------------------------- MATCHING ----------------------------------------------------->

      <div class="row">
          <div class="col-sm-offset-1 col-sm-10 block1">
              <div class="row">
                  <section class="col-sm-6 col-xs-12 backWhite margeMobile secPad2 padShow2">
                      <h3 class="title">Mes offres</h3>
                      <h4 class="underTitle">Ce que je propose...</h4>
                      <div class="padShow">
                          {% if offers == NULL %}
                          <p>Absence d'Offres</p>
                          {% else %}
                          {% for offer in offers %}
                          <ul>
                              <li>
                                  <div class="row">
                                      <a href="{{ path('actor_showOffer',{'id' : offer.id}) }}" id="lienListe">
                                          <img src="{{ app.request.basepath }}/uploads/{{ offer.imageOffer }}" alt="photo_offre" class=" col-xs-2">
                                          <div class="col-xs-8">
                                              <span>{{ offer.title }}</span>
                                              <p>{{ offer.description }}</p>
                                          </div>
                                      </a>
                                      <div class="col-xs-1">
                                          <a href="{{ path('actor_editOffer', { 'id': offer.id }) }}"><span class="glyphicon glyphicon-pencil btn-lg"></span ></a>
                                          <a href="{{ path('actor_deleteOffer',{'id' : offer.id}) }}"><span class="glyphicon glyphicon-remove btn-lg"></span ></a>

                                      </div>
                                  </div>
                              </li>
                              <hr>
                              {% endfor %}
                              {% endif %}
                          </ul>
                      </div>
                      <div class="row">
                          <a href="{{ path('actor_newOffer') }}" class="col-xs-offset-11"> <span class="glyphicon glyphicon-plus btn-lg"></span ></a>
                      </div>
                  </section>

                  <section class="col-sm-5 col-xs-12 backWhite secPad3 padShow2">
                      <h3 class="title">Mes matchings</h3>
                      <h4 class="underTitle">Qui puis-je aider ?</h4>
                      <div class="padShow">
                          {% if needsall == NULL %}
                          <p>Absence de Besoins</p>
                          {% else %}
                          {% for needsall in needsall %}
                          <ul>
                              <li>
                                  <div class="row">
                                      <a href="{{ path('actor_showNeeds',{'id' : needsall.id}) }}" id="lienListe">
                                          <img src="{{ app.request.basepath }}/uploads/{{ needsall.imageNeeds }}" alt="photo_offre" class=" col-xs-2">
                                          <div class="col-xs-8">
                                              <span>{{ needsall.title }}</span>
                                              <p>{{ needsall.description }}</p>
                                          </div>
                                      </a>
                                  </div>
                              </li>
                              <hr>
                              {% endfor %}
                              {% endif %}
                          </ul>
                      </div>
                  </section>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-sm-offset-1 col-sm-10 block1">
              <div class="row">
                  <section class="col-sm-6 col-xs-12 backWhite margeMobile secPad2 padShow2">
                      <h3 class="title">Mes besoins</h3>
                      <h4 class="underTitle">Ce dont j'ai besoin...</h4>
                      <div class="padShow">
                          {% if needs == NULL %}
                          <p>Absence de Besoins</p>
                          {% else %}
                          {% for needs in needs %}
                          <ul>
                              <li>
                                  <div class="row">
                                      <a href="{{ path('actor_showNeeds',{'id' : needs.id}) }}" id="lienListe">
                                          <img src="{{ app.request.basepath }}/uploads/{{ needs.imageNeeds }}" alt="photo_besoin" class=" col-xs-2">
                                          <div class="col-xs-8">
                                              <span>{{ needs.title }}</span>
                                              <p>{{ needs.description }}</p>
                                          </div>
                                      </a>
                                      <div class="col-xs-1">
                                          <a href="{{ path('actor_editNeeds', { 'id': needs.id }) }}"><span class="glyphicon glyphicon-pencil btn-lg"></span ></a>
                                          <a href="{{ path('actor_deleteNeeds',{'id' : needs.id}) }}"><span class="glyphicon glyphicon-remove btn-lg"></span ></a>

                                      </div>
                                  </div>
                              </li>
                              <hr>

                              {% endfor %}
                              {% endif %}
                          </ul>
                      </div>
                      <div class="row">
                          <a href="{{ path('actor_newNeeds') }}" class="col-xs-offset-11"> <span class="glyphicon glyphicon-plus btn-lg"></span ></a>
                      </div>
                  </section>

                  <section class="col-sm-5 col-xs-12 backWhite secPad3 padShow2">
                      <h3 class="title">Mes matchings</h3>
                      <h4 class="underTitle">Qui peut m'aider ?</h4>
                      <div class="padShow">
                          {% if offersall == NULL %}
                          <p>Absence d'Offres</p>
                          {% else %}
                          {% for offersall in offersall %}
                          <ul>
                              <li>
                                  <div class="row">
                                      <a href="{{ path('actor_showOffer',{'id' : offersall.id}) }}" id="lienListe">
                                          <img src="{{ app.request.basepath }}/uploads/{{ offersall.imageOffer }}" alt="photo_offre" class=" col-xs-2">
                                          <div class="col-xs-8">
                                              <span>{{ offersall.title }}</span>
                                              <p>{{ offersall.description }}</p>
                                          </div>
                                      </a>
                                  </div>
                              </li>
                              <hr>
                              {% endfor %}
                              {% endif %}
                          </ul>
                      </div>
                  </section>
              </div>
          </div>
      </div>


      {#*************************************MODALS FOR DELETE AN OFFER AND A NEED********************************************#}


      <div class="modal fade" id="deleteOffer">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">SUPPRESSION D'UNE OFFRE</h4>
                  </div>
                  <div class="modal-body">
                      <p>Confirmez-vous la suppression de cette offre ?</p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                      {% for offer in offers %}
                          <a href="{{ path('actor_deleteOffer', {'id': offer.id} ) }}">Supprimer</a>
                      {% endfor %}
                  </div>
              </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->


      <div class="modal fade" id="deleteNeeds">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">SUPPRESSION D'UN BESOIN</h4>
                  </div>
                  <div class="modal-body">
                      <p>Confirmez-vous la suppression de ce besoin ?</p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                      {% for needs in needs %}
                          <input type="button" href="{{ path('actor_deleteNeeds', {'id': needs.id} ) }}" value="Oui" class="btn btn-default">
                      {% endfor %}
                  </div>
              </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      {#*******************************************JAVASCRIPT FOR THIS PAGE *************************************************#}

      <script src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyBSFjZGurwwEtOnMOg1mKgJgS3WcP8ucrk" type="text/javascript"></script>

      <script>

          var locations = [
              {% for user in users %}
              ['{{ user.cp }}', '{{ user.lat }}', '{{ user.lgt }}'],
              {% endfor %}

          ];
          {% for user in users %}
          var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 10,
              center: new google.maps.LatLng({{ user.lat }}, {{ user.lgt }}),
              mapTypeId: google.maps.MapTypeId.ROADMAP,
              scrollwheel: false
          });
          var infowindow = new google.maps.InfoWindow();
          var marker, i;
          for (i = 0; i < locations.length; i++) {
              marker = new google.maps.Marker({
                  position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                  map: map
              });
              google.maps.event.addListener(marker, 'click', (function(marker, i) {
                  return function() {
                      infowindow.setContent(locations[i][0]);
                      infowindow.open(map, marker);
                  }
              })(marker, i));
          }
          {% endfor %}
      </script>
  {% endblock %}

