{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Besoins pour les Acteurs Locaux</h1>
    {% for offer in offers %}
        <a href="{{ path('actor_showOffer', { 'id': offer.id }) }}" id="lienListe">
            <div class="row">
                <section class="col-sm-offset-1 col-sm-10 col-xs-12 backWhite sec1 listIndex">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <img src="{{ app.request.basepath }}/uploads/{{ offer.image3 }}" alt="photo_logo" class="center-block img-responsive imgList"/>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <h2>{{ offer.title }}</h2>
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <ul>
                                        <li><span>Nom de la Commune :</span> {{ offer.town }}</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <ul>
                                        <li><span>Code Postal :</span> {{ ofer.cp }}</li>
                                    </ul>
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <ul>
                                        <li><span>Description de l'Offre :</span><p> {{ offer.description[:300]}} ...</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </a>
        {#<div>#}
            {#<ul>#}
                {#<li>#}
                    {#<a href="{{ path('needs_show', { 'id': need.id }) }}" class="btn Button center-block">Voir</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="{{ path('mayor_editNeeds', { 'id': need.id }) }}" class="btn Button center-block">Modifier</a>#}
                {#</li>#}
            {#</ul>#}
        {#</div>#}
    {% endfor %}
    {#<div class="row">#}
        {#<div class="col-sm-offset-1 col-sm-10 col-xs-12">#}
            {#<ul>#}
                {#<li>#}
                    {#<a href="{{ path('mayor_newNeeds') }}" class="btn Button center-block">Créer un nouveu besoin</a>#}
                {#</li>#}
            {#</ul>#}
        {#</div>#}
    {#</div>#}
{% endblock %}