{% extends 'base.html.twig' %}
{% form_theme form ":FormTemplate:bootstrap.html.twig" %}
{% block body %}

    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 col-xs-12">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6">
                    <h3>création du besoin</h3>

                    {{ form_start(form) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.cp) }}
                    {{ form_row(form.town) }}
                    {{ form_row(form.description) }}
                    {% if   user.category  == 'Développement durable'%}
                        {{ form_row(form.development)}}
                        {{ form_widget(form.habitation,{'attr':{'style':'display:none'}}) }}
                        {{ form_widget(form.culture,{'attr':{'style':'display:none'}}) }}
                        {{ form_widget(form.agriculture,{'attr':{'style':'display:none'}}) }}
                        {{ form_widget(form.transportation,{'attr':{'style':'display:none'}}) }}
                    {% elseif user.category == 'Habitat/Ingénierie' %}
                        {{ form_row(form.habitation)}}
                        {{ form_widget(form.development,{'attr':{'style':'display:none'}}) }}
                        {{ form_widget(form.culture,{'attr':{'style':'display:none'}}) }}
                        {{ form_widget(form.agriculture,{'attr':{'style':'display:none'}}) }}
                        {{ form_widget(form.transportation,{'attr':{'style':'display:none'}}) }}
                    {% elseif user.category == 'Culture/patrimoine' %}
                        {{ form_row(form.culture)}}
                        {{ form_widget(form.development,{'attr':{'style':'display:none'}}) }}
                        {{ form_widget(form.habitation,{'attr':{'style':'display:none'}}) }}
                        {{ form_widget(form.agriculture,{'attr':{'style':'display:none'}}) }}
                        {{ form_widget(form.transportation,{'attr':{'style':'display:none'}}) }}
                    {% elseif user.category == 'Agriculture/Agroalimentaire' %}
                        {{ form_row(form.agriculture)}}
                        {{ form_widget(form.development,{'attr':{'style':'display:none'}}) }}
                        {{ form_widget(form.habitation,{'attr':{'style':'display:none'}}) }}
                        {{ form_widget(form.culture,{'attr':{'style':'display:none'}}) }}
                        {{ form_widget(form.transportation,{'attr':{'style':'display:none'}}) }}
                    {% elseif user.category == 'Mobilité'  %}
                        {{ form_row(form.transportation)}}
                        {{ form_widget(form.development,{'attr':{'style':'display:none'}}) }}
                        {{ form_widget(form.habitation,{'attr':{'style':'display:none'}}) }}
                        {{ form_widget(form.culture,{'attr':{'style':'display:none'}}) }}
                        {{ form_widget(form.agriculture,{'attr':{'style':'display:none'}}) }}
                    {% elseif user.category == 'Numérique et co-working' %}
                        {{ form_widget(form.development,{'attr':{'style':'display:none'}}) }}
                        {{ form_widget(form.habitation,{'attr':{'style':'display:none'}}) }}
                        {{ form_widget(form.culture,{'attr':{'style':'display:none'}}) }}
                        {{ form_widget(form.agriculture,{'attr':{'style':'display:none'}}) }}
                        {{ form_widget(form.transportation,{'attr':{'style':'display:none'}}) }}
                    {% else %}
                        {{ form_widget(form.development,{'attr':{'style':'display:none'}}) }}
                        {{ form_widget(form.habitation,{'attr':{'style':'display:none'}}) }}
                        {{ form_widget(form.culture,{'attr':{'style':'display:none'}}) }}
                        {{ form_widget(form.agriculture,{'attr':{'style':'display:none'}}) }}
                        {{ form_widget(form.transportation,{'attr':{'style':'display:none'}}) }}
                    {% endif %}
                    {{ form_widget(form) }}
                    <input type="submit" value="Créer un besoin" class="btn center-block Button"/>
                    {{ form_end(form) }}

                    <ul>
                        <li>
                            <a href="{{ path('actor_index') }}" class="btn center-block Button">Retour au profil</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}