{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p class="help">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}

        <h3>Le Booster rural : mode d'emploi</h3>
<div class="row" id="aids">
        <p class="col-xs-12 col-md-6 help" id="scroll">En cliquant sur votre nom en haut à gauche, vous accédez à votre profil (voir image ci-contre).
            <img src="{{ asset("bundles/booster/img/profile_access.png") }}" alt="menu d'accès">
            Une fois sur cette page vous avez la possibilité de compléter vos informations et d'ajouter des photos (1). Faites la différence et n'hésitez pas à expliquer pourquoi vous êtes dynamiques!
            En cliquant sur l'icone du crayon un formulaire apparait. Complétez les champs du formulaire et validez-le. N'hésitez pas à ajouter des photos! Elles ne sont pas obligatoires mais elles enrichiront considérablement votre profil.
            <br/>
            <br/>
            La carte dynamique sur votre profil affiche,  dans un cercle de 50km environ autour de vous, les maires (en rouge) et les acteurs par domaine d'activité : vert pour "Développement durable", gris pour "Habitat", jaune pour "Culture/patrimoine", marron pour "Agriculture/agroalimentaire", bleu pour "Mobilité" et orange pour "Numérique".
            Pour afficher l'ensemble des maires et des acteurs dynamiques sur la carte de France, cliquez sur le logo du Booster rural: vous serez automatiquement redirigé vers la page d'accueil.
            <br/>
            <br/>
            Augmentez vos chances de visibilité sur le site en complétant les parties "Offres" et "Besoins" (2).
            Cliquez sur l'icone en bas à droite et remplissez le formulaire qui s'affiche. Cliquez sur "valider" pour sauvegarder votre annonce sur votre profil.
            Vous pouvez modifier à tout moment vos annonces via le formulaire en cliquant sur l'icone du crayon (1).
            Votre annonce n'est plus d'actualité? Cliquez sur la croix (3) pour la supprimer. Une fenêtre s'affiche vous demandant de confirmer votre choix.
<br/>
<br/>
            Dans les encadrés "Matching", le moteur de recherche vous permet de rechercher des annonces par mots-clés. Saisissez un ou plusieurs termes dans la barre de recherche (4): un tri automatique s'opère selectionnant les annonces où apparaissent ces mots!
<br/>
<br/>
            Enfin si vous souhaitez accéder à l'ensemble des annonces concernant les villages, les acteurs dynamiques ou les citoyens, cliquez sur les mots "besoins" et "offres" (5) dans la barre de navigation. Sélectionnez ensuite les types d'annonces que vous voulez consulter.
            <img src="{{ asset("bundles/booster/img/lists_access.png") }}" alt="exemple menu déroulant">

            L'onglet "Villages" (5) affiche quant à lui l'ensemble des communes inscrites sur le site.</p>

            Vous avez fini d'utiliser le site aujourd'hui? Déconnectez-vous en cliquant sur l'onglet prévu à cet effet.
            Pour vous connecter à nouveau, cliquez sur "Connexion" et saisissez vos identifiants.
    <img src="{{ asset("bundles/booster/img/connexion.png") }}" alt="page connexion">

            A tout moment, retrouvez ce mode d'emploi en cliquant sur "Aide".

        <img class="col-xs-12 col-md-6" src="{{ asset("bundles/booster/img/Aide.png") }}" alt="exemple profil">

</div>


{% endblock fos_user_content %}
