{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form ":FormTemplate:bootstrap.html.twig" %}


    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 col-xs-12  ">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6">
                    <h2>Inscription</h2>
                    {{ form_start(form, {'method': 'post', 'action': path('booster_registerCitizen'), 'attr': {'class': 'fos_user_registration_register'}}) }}


                    {{ form_label(form.lastname) }}
                    {{ form_widget(form.lastname) }}

                    {{ form_label(form.firstname) }}
                    {{ form_widget(form.firstname) }}

                    {{ form_widget(form) }}


                        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-success center-block successButton" data-toggle="modal" href="#send_mail"/>

                    <div class="modal fade" id="send_mail">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p>Un email de confirmation vient de vous être envoyé.</p>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>



