{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <section class="col-sm-offset-1 col-sm-10 col-xs-12 backWhite sec1">
        <h1>Nos Partenaires</h1>
        <p class="partnerText">
            Pour <strong>« Ensemble le Booster rural »</strong> les partenaires partagent les mêmes objectifs et portent les mêmes valeurs que notre projet. Ces valeurs sont celles d’invention, d’innovation, d’expérimentation  et de soutien aux forces vives et vivantes des territoires hors métropoles à l’échelle nationale. Elle contribue à présenter cette dimension créative et à renforcer les synergies tout en proposant des Solutions.
            <br>
            Les partenaires contribuent à la plate-forme par un soutien sous forme de mécénat, de financement, de contribution  en  contenus, en expertise technique ou de communication.
        </p>
    </section>
    {% for partner in partners %}
        <div class="row">
            <section class="col-sm-offset-1 col-sm-10 col-xs-12 backWhite sec1">
                <div class="row downMarg2">

                    <div class="col-xs-3">
                        {% if partner.imagePartners != NULL %}
                            <img src="{{ app.request.basepath }}/uploads/{{ partner.imagePartners }}" alt="photo_partenaire" class="img-responsive constraint">
                        {% else %}
                            <img src="{{ asset('bundles/booster/img/nophoto.png') }}" alt="photo_partenaire" class="img-responsive constraint">
                        {% endif %}
                    </div>
                    <div class="col-xs-9">
                        <p>{{ partner.partnerText }}</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-offset-10 col-xs-1">
                        <div class="row">
                            <div class="col-xs-offset-3 col-xs-1">
                                <a href="{{ path('partners_delete',{'id' : partner.id}) }}">
                                    <i class="col-xs-offset-11 fa fa-times fa-3x" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-xs-offset-3 col-xs-1">
                                <a href="{{ path('partners_edit', {'id': partner.id}) }}') }}">
                                    <i class="col-xs-offset-11 fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
            </section>
        </div>
    {% endfor %}

    {% endblock %}
