{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Besoins pour les Citoyens</h1>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10 col-xs-12">
            <form action="{{ path('actor_recherche')}}">
                <div class="form-group">
                    <input class="form-control" placeholder="Rechercher..." type="text" name="motcle">
                </div>
            </form>
        </div>
    </div>
    {% for need in needs %}
        <a href="{{ path('citizen_showNeeds', { 'id': need.id }) }}" id="lienListe">
            <div class="row">
                <section class="col-sm-offset-1 col-sm-10 col-xs-12 backWhite sec1 listIndex">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <img src="{{ app.request.basepath }}/uploads/{{ need.imageNeeds }}" alt="photo_logo" class="center-block img-responsive imgList"/>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <h2>{{ need.title }}</h2>
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <ul>
                                        <li><span>Nom de la Commune :</span> {{ need.town }}</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <ul>
                                        <li><span>Code Postal :</span> {{ need.cp }}</li>
                                    </ul>
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <ul>
                                        <li><span>Description du Besoin :</span><p> {{ need.description[:300]}} ...</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </a>
    {% endfor %}
{% endblock %}