{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Besoins</h1>
    {% for need in needs %}
        <a href="{{ path('citizen_showNeeds', { 'id': need.id }) }}" id="lienListe">
            <div class="row">
                <section class="col-sm-offset-1 col-sm-10 col-xs-12 backWhite sec1 padSHOW">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <img src="{{ app.request.basepath }}/uploads/{{ need.image2 }}" alt="photo_logo" class="center-block img-responsive imgSHOW"/>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <h1>{{ need.title }}</h1>
                            <ul>
                                <div class="row">
                                    <li class="col-md-6 col-xs-12"><span>Ville :</span>{{ need.town }}</li>
                                    <li class="col-md-6 col-xs-12"><span>Code Postal :</span>{{ need.cp }}</li>
                                </div>
                                <div class="row">
                                    <li class="col-md-6 col-xs-12"><span>Domaine d'activité :</span>{{ need.activity }}</li>
                                    <li class="col-md-6 col-xs-12"><span>Disponibilité :</span>{{ need.availability }}</li>
                                </div>
                                <li><span>Description :</span>{{ need.description }}</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </a>
        {#<div>#}
        {#<ul>#}
        {#<li>#}
        {#<a href="{{ path('needs_show', { 'id': need.id }) }}" class="btn Button center-block">Voir</a>#}
        {#</li>#}
        {#<li>#}
        {#<a href="{{ path('needs_edit', { 'id': need.id }) }}" class="btn Button center-block">Modifier</a>#}
        {#</li>#}
        {#</ul>#}
        {#</div>#}
    {% endfor %}
    {#<div class="row">#}
    {#<div class="col-sm-offset-1 col-sm-10 col-xs-12">#}
    {#<ul>#}
    {#<li>#}
    {#<a href="{{ path('needs_new') }}" class="btn Button center-block">Créer un nouveu besoin</a>#}
    {#</li>#}
    {#</ul>#}
    {#</div>#}
    {#</div>#}
{% endblock %}