{% extends 'base.html.twig' %}


{% block body %}

<div class="row">
    <section class="col-sm-offset-1 col-sm-10 col-xs-12 backWhite sec1">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <img src="{{ app.request.basepath }}/uploads/{{ user.imageUser }}" alt="my photo" class="center-block img-responsive pic1citiz"/>
            </div>
            <div class="col-md-6 col-xs-12">
                <h1>Louise MARTIN</h1>
                <div class="row identity">
                    <div class="col-sm-6 col-xs-12">
                        <ul>
                            <li class="state"><span>Statut :</span> {{ user.statusCitizen }}</li>
                            <li><span>Adresse :</span>{{ user.address}}</li>
                            <li><span>Code Postal :</span> {{ user.cp }}</li>
                            <li><span>Commune :</span> {{ user.town }}</li>
                            <li><span>Adresse Mail :</span> {{ user.email }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <div class="row flexMap">
            <section class="col-sm-6 col-xs-12 backWhite sec2">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <ul class="ulBorder">
                            <li><img src="{{ app.request.basepath }}/uploads/{{ user.imageDescription1 }}" alt="photo" class="pitureMini img-responsive center-block"/></li>
                            <li><img src="{{ app.request.basepath }}/uploads/{{ user.imageDescription2 }}" alt="photo" class="pitureMini img-responsive center-block"/></li>
                            <li><img src="{{ app.request.basepath }}/uploads/{{ user.imageDescription3 }}" alt="photo" class="pitureMini img-responsive center-block"/></li>
                        </ul>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <h2 class="mediaTitle">pourquoi je suis dynamique ?</h2>
                        <p>{{ user.description }}</p>
                    </div>
                </div>
            </section>
            <section class=" hidden-xs col-sm-5 col-xs-12 backWhite secPad1">
                <h2>localisation</h2>
                <div id="map" class="center-block"></div>
            </section>
        </div>
    </div>
</div>

<h2 id="title2">ses activités</h2>
<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <div class="row">
            <section class="col-sm-6 col-xs-12 backWhite margeMobile secPad2">
                <h3>ses offres</h3>
                <h4 class="underTitle">Ce que je propose...</h4>
                {% if offers == NULL %}
                <p>Absence d'Offres</p>
                {% else %}
                {% for offer in offers %}
                    <ul>
                        <li>
                            <div class="row">
                                <a href="{{ path('citizen_showOffer',{'id' : offer.id}) }}" id="lienListe">
                                    <img src="{{ app.request.basepath }}/uploads/{{ offer.imageOffer }}" alt="photo_offre" class=" col-xs-2">
                                    <div class="col-xs-8">
                                        <span>{{ offer.title }}</span>
                                        <p>{{ offer.description }}</p>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                {% endfor %}
            </section>


            <section class="col-sm-5 col-xs-12 backWhite secPad3">
                <h3>ses besoins</h3>
                <h4 class="underTitle">Ce dont j'ai besoin...</h4>
                {% if needs == NULL %}
                <p>Absence de Besoins</p>
                {% else %}
                {% for needs in needs %}
                <ul>
                    <li>
                        <div class="row">
                            <a href="{{ path('citizen_showNeeds',{'id' : needs.id}) }}" id="lienListe">
                                <img src="{{ app.request.basepath }}/uploads/{{ needs.imageNeeds }}" alt="photo_besoin" class=" col-xs-2">
                                <div class="col-xs-8">
                                    <span>{{ needs.title }}</span>
                                    <p>{{ needs.description }}</p>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
                {% enfor %}
            </section>
        </div>
    </div>
</div>



<script src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyBSFjZGurwwEtOnMOg1mKgJgS3WcP8ucrk" type="text/javascript"></script>
<script>
    var locations = [
        {% for user in users %}
        ['{{ user.cp }}', '{{ user.lat }}', '{{ user.lgt }}', '{{  user.category }}', '{{ user.lastname }}', '{{ user.organization }}', '{{ user.town }}'], {{ user.roles }}
        {% endfor %}

    ];

    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: new google.maps.LatLng({{ user.lat }},{{ user.lgt }}),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        scrollwheel: false
    });

    var infowindow = new google.maps.InfoWindow();


    var marker, i;
    for (i = 0; i < locations.length; i++) {
        var image = {url: '{{ asset('bundles/booster/img/purpleFlag.png') }}', origin: new google.maps.Point(0,0)};
        if(locations[i][3] == 'Développement durable') {
            image.url = '{{ asset('bundles/booster/img/greenFlag.png') }}';
        } else if(locations[i][3] == 'Habitat') {
            image.url = '{{ asset('bundles/booster/img/greyFlag.png') }}';
        }
        else if(locations[i][3] == 'Agriculture/Agroalimentaire') {
            image.url = '{{ asset('bundles/booster/img/brownFlag.png') }}';
        }
        else if(locations[i][3] == 'Culture/Patrimoine') {
            image.url = '{{ asset('bundles/booster/img/yellowFlag.png') }}';
        }
        else if(locations[i][3] == 'Mobilité') {
            image.url = '{{ asset('bundles/booster/img/blueFlag.png') }}';
        }
        else if(locations[i][3] == 'Numérique et co-working') {
            image.url = '{{ asset('bundles/booster/img/orangeFlag.png') }}';
        }
        else if(locations[i][7] == 'a:1:{i:0;s:10:"ROLE_CITIZEN";}') {
            image.url = '{{ asset('bundles/booster/img/purpleFlag.png') }}';
        }
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map,
            icon: image
        });
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {

                infowindow.setContent(locations[i][5], locations[i][4], locations[i][0], locations[i][6] );
                infowindow.open(map, marker);
            }
        })(marker, i));

    }
</script>
{% endblock %}

