{% extends 'base.html.twig' %}

    {% block body %}

            <div class="row">
                <section class="col-sm-offset-1 col-sm-10 col-xs-12 backWhite sec1">
                    <div class="row">
                        <div class="col-md-6 col-xs-12 picture">
                            <img src="{{ app.request.basepath }}/uploads/{{ user.imageIdentity }}" alt="photo_logo" class="center-block img-responsive "/>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <h1>La Loupe</h1>
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="row">
                                                <ul class="col-xs-12">

                                                    <li><b>lieu:</b> {{ user.cp }} {{ user.lastname }}</li>
                                                    <li><b>Nbre d'habitants :</b> {{ user.resident }} </li>
                                                    <li>{{ user.website }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 ">
                                            <div class="row">
                                                <ul class="col-xs-12">
                                                    <li><b>mail:</b>  {{ user.email }}</li>
                                                    <li><b>Téléphone :</b> {{ user.phone }}</li>
                                                    <li><b>Maire:</b> {{ user.lastname }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="col-sm-offset-1 col-sm-10 col-xs-12 backWhite sec1">
                    <div class="row">
                        <div class="col-md-8 col-xs-12">
                            <h2>Le mot du Maire</h2>
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <p>{{ user.messageMayor }}</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <img src="{{ asset('bundles/booster/img/maire.jpg') }}" alt="photo_logo" class="center-block img-responsive picture "/>
                        </div>
                    </div>
                </section>
            </div>

            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <div class="row flexMap">
                        <section class="col-sm-6 col-xs-12 backWhite sec2">
                            <div class="row">
                                <div class="col-md-4 col-sm-12">
                                    <ul class="ulBorder">
                                        <li><img src="{{ asset('bundles/booster/img/tof1.png') }}" alt="photo" class="pitureMini img-responsive center-block"/></li>
                                        <li><img src="{{ asset('bundles/booster/img/tof2.png') }}" alt="photo" class="pitureMini img-responsive center-block"/></li>
                                        <li><img src="{{ asset('bundles/booster/img/tof3.png') }}" alt="photo" class="pitureMini img-responsive center-block"/></li>
                                    </ul>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <h2 class="mediaTitle">pourquoi nous sommes dynamiques ?</h2>
                                    <p>{{ user.description }}</p>
                                </div>
                            </div>
                        </section>
                        <section class=" hidden-xs col-sm-5 col-xs-12 backWhite secPad1">
                            <h2>localisation</h2>
                            <div id="map" class="center-block"></div>
                        </section>
                    </div>
                </div>
            </div>


        <div class="row">
            <div class="col-sm-offset-1 col-sm-10 block1">
                <div class="row">
                    <section class="col-sm-6 col-xs-12 backWhite margeMobile secPad2">
                        <h3 class="title">Mes offres</h3>
                        <h4 class="underTitle">Ce que je propose...</h4>
                        {% if offers == NULL %}
                        <p>Absence de d'offres</p>
                        {% else %}
                        {% for offer in offers %}
                        <ul>
                            <li>
                                <div class="row">
                                    <img src="{{ asset('bundles/booster/img/nophoto.png') }}" alt="no photo" class=" col-xs-2">
                                    <div class="col-xs-8">
                                        <span>{{ offer.title }}</span>
                                        <p>{{ offer.description }}</p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            <hr>
                            {% endif %}
                        </ul>
                    </section>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10 block2">
                <div class="row">
                    <section class="col-sm-6 col-xs-12 backWhite margeMobile secPad2">
                        <h3 class="title">Mes besoins</h3>
                        <h4 class="underTitle">Ce dont j'ai besoin...</h4>
                        <ul>
                            {% if needs == NULL %}
                                <p>Absence de besoins</p>
                            {% else %}
                                {% for needs in needs %}
                                    <li>
                                        <div class="row">
                                            <a href="{{ path('actor_showNeeds',{'id' : needs.id}) }}">
                                                <img src="{{ asset('bundles/booster/img/nophoto.png') }}" alt="no photo" class=" col-xs-2">
                                                <div class="col-xs-8">
                                                    <span>{{ needs.title }}</span>
                                                    <p>{{ needs.description }}</p>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}
                                <hr>
                            {% endif %}
                        </ul>
                    </section>
                </div>
            </div>
        </div>

        <script src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyBSFjZGurwwEtOnMOg1mKgJgS3WcP8ucrk" type="text/javascript"></script>
        <script>
            var locations = [
                {% for user in users %}
                ['{{ user.cp }}', '{{ user.lat }}', '{{ user.lgt }}', '{{  user.category }}', '{{ user.lastname }}', '{{ user.organization }}', '{{ user.town }}'],
                {% endfor %}
            ];
            var map = new google.maps.Map(document.getElementById('HPmap'), {
                zoom: 10,
                center: new google.maps.LatLng({{ user.lat }},{{ user.lgt }}),
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                scrollwheel: false
            });
            var infowindow = new google.maps.InfoWindow();
            var marker, i;
            for (i = 0; i < locations.length; i++) {
                var image = {url: '{{ asset('bundles/booster/img/purpleFlag.png') }}', origin: new google.maps.Point(0,0)};
                if(locations[i][3] == 'Développement durable') {
                    image.url = '{{ asset('bundles/booster/img/greenFlag.png') }}';
                } else if(locations[i][3] == 'Habitat') {
                    image.url = '{{ asset('bundles/booster/img/greyFlag.png') }}';
                }
                else if(locations[i][3] == 'Agriculture/Agroalimentaire') {
                    image.url = '{{ asset('bundles/booster/img/brownFlag.png') }}';
                }
                else if(locations[i][3] == 'Culture/Patrimoine') {
                    image.url = '{{ asset('bundles/booster/img/yellowFlag.png') }}';
                }
                else if(locations[i][3] == 'Mobilité') {
                    image.url = '{{ asset('bundles/booster/img/blueFlag.png') }}';
                }
                else if(locations[i][3] == 'Numérique et co-working') {
                    image.url = '{{ asset('bundles/booster/img/orangeFlag.png') }}';
                }

                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    map: map,
                    icon: image
                });
                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        infowindow.setContent(locations[i][5] );
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }
        </script>
    {% endblock %}